.main-about
    padding: 10% 0 0 0

.about-container
    padding: 0 10% 0 15%
    @media screen and ( max-width:  1200px)
        padding: 0 0 0 15%
    @media screen and ( max-width:  992px)
        padding: 0
.about-title
    color: #1E1E1E
    font-family: fira-sans
    font-size: 48px
    font-style: normal
    font-weight: 700
    line-height: 47px
    padding: 0 0 4% 0
    @media screen and ( max-width:  1200px)
        font-size: 40px
    @media screen and ( max-width:  992px)
        font-size: 30px

.about-title-text
    color: #414141
    font-family: PT Serif
    font-size: 20px
    font-style: normal
    font-weight: 400
    line-height: 22px
    padding: 4%
    border-radius: 30px
    border: 1px solid #414141
    @media screen and ( max-width:  1200px)
        font-size: 18px
    @media screen and ( max-width:  992px)
        font-size: 16px

.txt-1
    box-shadow: -1px 3px 6px 1px rgba(0, 0, 0, 0.80)
.txt-2
    box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.80)
.txt-3
    box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.80)
